<p>😀</p>
<p>🎅🎅🏻🎅🏼🎅🏽🎅🏾🎅🏿</p>
<p>🤶🤶🏻🤶🏼🤶🏽🤶🏾🤶🏿</p>
<p>🧑‍🎄🧑🏻‍🎄🧑🏼‍🎄🧑🏽‍🎄🧑🏾‍🎄🧑🏿‍🎄</p>
<script src="https://twemoji.maxcdn.com/v/latest/twemoji.min.js" crossorigin="anonymous"></script>
<script>twemoji.parse(document.body);</script>